.profile {
    background-color: rgba(9, 173, 173, 0.82);
    grid-area: main;
    border-radius: 5px;
    padding: 10px;
}

.profile img {
    width: 400px;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}